Youtube AI Video Analyzer and Video Idea Creation.json
{
  "name": "Youtube AI Video Analyzer and Video Idea Creation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyWeek"
            }
          ]
        },
        "feedUrl": "https://www.youtube.com/feeds/videos.xml?channel_id=UCX6OQ3DkcsbYNE6H8uQQuVA"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        1460,
        620
      ],
      "id": "f88b518f-7b6f-4695-a5ba-cdbf28a7bb7b",
      "name": "RSS Feed Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e456a8e0-e5f7-46b3-97e7-9468b4233cf8",
              "leftValue": "={{ $json.link }}",
              "rightValue": "/shorts/",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        620
      ],
      "id": "3a8d638e-6454-4a60-9bcc-230e89e9abb8",
      "name": "Is it a short?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/p7UMdpQnjKmmpR21D/runs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "$API_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "URL",
              "value": "={{ $json.link }}"
            },
            {
              "name": "Count",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3440,
        760
      ],
      "id": "5adaac02-4db9-4baa-ac4f-81f9decd2355",
      "name": "Youtube Comments Scraper"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/Jqb9SgS0MfEVWyGKi/runs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "$API_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "videoUrls",
              "value": "={{ [ $json.link ] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3440,
        540
      ],
      "id": "3cdf782d-7cf8-4837-bf63-096727c860dd",
      "name": "Metadata, Engaging & HTML"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-r1-distill-llama-70b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2440,
        880
      ],
      "id": "251af49a-8027-487c-a9e7-84b67c684800",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "XrGP1hew7y0Z2U9d",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "amount": 7,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3060,
        660
      ],
      "id": "9c82af20-64c9-4a9d-9d60-d5c833aa8287",
      "name": "Wait",
      "webhookId": "6003adbb-0103-418d-b081-7755c14af2dc"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app3E9f3YHsJBcQej",
          "mode": "list",
          "cachedResultName": "Youtube Scrape",
          "cachedResultUrl": "https://airtable.com/app3E9f3YHsJBcQej"
        },
        "table": {
          "__rl": true,
          "value": "tblCmopb2irSJDMdi",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/app3E9f3YHsJBcQej/tblCmopb2irSJDMdi"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3840,
        540
      ],
      "id": "9570a6b8-e76a-4434-9a07-30414bec9e54",
      "name": "Save Metadata",
      "credentials": {
        "airtableTokenApi": {
          "id": "q6SLHOsLgmFCRCb2",
          "name": "Airtable BXC"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app3E9f3YHsJBcQej",
          "mode": "list",
          "cachedResultName": "Youtube Scrape",
          "cachedResultUrl": "https://airtable.com/app3E9f3YHsJBcQej"
        },
        "table": {
          "__rl": true,
          "value": "tblCmopb2irSJDMdi",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/app3E9f3YHsJBcQej/tblCmopb2irSJDMdi"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3840,
        760
      ],
      "id": "f11e4a49-7283-4415-abfb-bb9bb4e15ce7",
      "name": "Save Comments",
      "credentials": {
        "airtableTokenApi": {
          "id": "q6SLHOsLgmFCRCb2",
          "name": "Airtable BXC"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/faVsWy9VTSNVIhWpR/runs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "$API_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "videoUrl"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        660
      ],
      "id": "80bc6a41-02d5-438c-9e7a-5ab04b42fc41",
      "name": "Video Transcript Scraper"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app3E9f3YHsJBcQej",
          "mode": "list",
          "cachedResultName": "Youtube Scrape",
          "cachedResultUrl": "https://airtable.com/app3E9f3YHsJBcQej"
        },
        "table": {
          "__rl": true,
          "value": "tblCmopb2irSJDMdi",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/app3E9f3YHsJBcQej/tblCmopb2irSJDMdi"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2240,
        660
      ],
      "id": "4b82f51b-f344-4305-88bc-0118f485ea05",
      "name": "Save Transcript",
      "credentials": {
        "airtableTokenApi": {
          "id": "q6SLHOsLgmFCRCb2",
          "name": "Airtable BXC"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app3E9f3YHsJBcQej",
          "mode": "list",
          "cachedResultName": "Youtube Scrape",
          "cachedResultUrl": "https://airtable.com/app3E9f3YHsJBcQej"
        },
        "table": {
          "__rl": true,
          "value": "tblCmopb2irSJDMdi",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/app3E9f3YHsJBcQej/tblCmopb2irSJDMdi"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Views",
              "displayName": "Views",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Likes",
              "displayName": "Likes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Thumbnails",
              "displayName": "Thumbnails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2840,
        660
      ],
      "id": "0c3ba3c6-82f2-439e-91d0-4c122d253728",
      "name": "Save Summary",
      "credentials": {
        "airtableTokenApi": {
          "id": "q6SLHOsLgmFCRCb2",
          "name": "Airtable BXC"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        2580,
        940
      ],
      "id": "daec4214-7273-4473-bda8-2a0d0336c6b4",
      "name": "Think"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{ \n  \"VideoSummary\": \"<string>\",\n  \"VideoSummaryBulletPointsMarkdown\": \"<string>\",\n  \"Hook\": \"<string>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2740,
        880
      ],
      "id": "59e5a7ab-988e-4aad-8a30-0f293d324cf9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-r1-distill-llama-70b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4120,
        880
      ],
      "id": "5b0b87e7-4799-4b39-b7fe-3d2e0854da57",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "XrGP1hew7y0Z2U9d",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        4300,
        940
      ],
      "id": "eea3a090-5ee2-4aff-9dcd-c4995f982bec",
      "name": "Think1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"UninterruptedTextMetrics\": \"<string>\",\n  \"WhyVideoDidGood/Bad\": \n  \"It went good/bad because: 1. Reason 1 2. Reason 2, 3. Reason 3 ....\",\n  \"CommentsSummary\": \"<string\",\n  \"CommentsPositivity\": \"rating/10\",\n  \"CommentsQuestionsSummary\": \"<string\",\n  \"TitleSuggestion\": \"<string>\",\n  \"DescriptionSuggestion\": \"<string>\",\n  \"StructuredVideoIdea\": \"<string>\",\n  \"HashtagSuggestion\": \"<string>\",\n  \"ThumbnailSuggestion\": \"<string>\",\n  \"ViralityScore\": \"<string>\",\n  \"WhyItCanGoViral\": \"<string>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        4460,
        880
      ],
      "id": "54c16717-9baa-4a18-805a-af5e9324ba32",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "={{ $json.thumbnails }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3640,
        540
      ],
      "id": "3f5bea61-00da-4e77-aa05-2583944eb1a2",
      "name": "Maxres Thumbnail"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your job today is to develop a well-put summary by using the following transcript: {{ $json.transcript }}.\n\n- Develop an interrupted flow of text highlighting the key parts of the video\n- Structure using Markdown a bullet list of the topics and keywords.\n- Recognize the hook which catches the user attention. The hook is usually at the first 30 seconds to 1 minute maximum of the video. When you recognise it, rewrite it word for word.\n\nHere's what you mustn't do: Copy exactly the input of the video or repurpose an idea that is too similar to it. You also mustn't paraphrase the hook, but just rewrite it.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert social media and trend analyzer. Assume a professional and smart tone, to help the user analyze his competition."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2460,
        660
      ],
      "id": "d5314930-1f99-4d7b-863a-aed02e8f3b7d",
      "name": "Summarise & Analyse"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app3E9f3YHsJBcQej",
          "mode": "list",
          "cachedResultName": "Youtube Scrape",
          "cachedResultUrl": "https://airtable.com/app3E9f3YHsJBcQej"
        },
        "table": {
          "__rl": true,
          "value": "tblCmopb2irSJDMdi",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/app3E9f3YHsJBcQej/tblCmopb2irSJDMdi"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Views",
              "displayName": "Views",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Likes",
              "displayName": "Likes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Thumbnails",
              "displayName": "Thumbnails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        4540,
        660
      ],
      "id": "d43f14f8-cbe1-4cd4-ab34-0349352996ce",
      "name": "Save Data",
      "credentials": {
        "airtableTokenApi": {
          "id": "q6SLHOsLgmFCRCb2",
          "name": "Airtable BXC"
        }
      }
    },
    {
      "parameters": {
        "chatId": "Your Chat ID",
        "text": "=All the data from the video {{ $('RSS Feed Trigger').item.title }} of {{ $('RSS Feed Trigger').item.creator }}. Check your Airtable.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4760,
        660
      ],
      "id": "c5ee93eb-81f9-407e-b021-e42f8fab3a0f",
      "name": "Telegram",
      "webhookId": "30d0cacb-b619-4c4f-bf9c-e0c53228ae11",
      "credentials": {
        "telegramApi": {
          "id": "ZEr8IKylY1lYXVPp",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your job today is to develop a well-put report by using the following data: {{ $json.comments }}, {{ $json.metadata}}.\n\nDevelop an interrupted flow of text highlighting the metrics and associate potential reasons of why the video went or did not go well, by utlizing the {{ $('Save Transcript').item.json.transcript }} and the {{ $('Save Summary').item.json.summary }} too.\n\nFurthermore, analyse all the comments by using this input {{ $('Youtube Comments Scraper').item.json.array.comments }}.\n\nBy analysing the comments you want to define:\n\n- A general impression of the video through a well-though, flow of thinking\n- A rating from 1/10 based on the positivity of the comments\n- A sum of the potential questions that arised from the video\n\nOnce done, IF the video performed well, I want you to develop 3 similar video ideas I can reproduce with:\n\n- Title suggestion\n- Description suggestion\n- Video idea with structured topic suggestion\n- Hashtag suggestion\n- Thumbnail description suggestion\n- Potential to go viral from 1/100 and why\n\nIf the video did not perform well in the 7 days that it was published:\n\n- Analyse potential mistakes they have done\n- How can I avoid the same mistakes\n\nHere's what you mustn't do: Copy exactly the input of the video or repurpose an idea that is too similar to it. You mustn't BREAK the JSON structure or create new fields/objects. You mustn't BREAK the guidelines and instruction given.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert social media and trend analyzer. Assume a professional and smart tone, to help the user analyze his competition."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        4180,
        660
      ],
      "id": "fb854b26-f942-40f8-988e-21f8cb7abda7",
      "name": "Produce Ideas"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Is it a short?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is it a short?": {
      "main": [
        [],
        [
          {
            "node": "Video Transcript Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metadata, Engaging & HTML": {
      "main": [
        [
          {
            "node": "Maxres Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Youtube Comments Scraper": {
      "main": [
        [
          {
            "node": "Save Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarise & Analyse",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Metadata, Engaging & HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "Youtube Comments Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Metadata": {
      "main": [
        [
          {
            "node": "Produce Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Comments": {
      "main": [
        [
          {
            "node": "Produce Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Transcript Scraper": {
      "main": [
        [
          {
            "node": "Save Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Transcript": {
      "main": [
        [
          {
            "node": "Summarise & Analyse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Summary": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Summarise & Analyse",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Summarise & Analyse",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Produce Ideas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "Produce Ideas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Produce Ideas",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Maxres Thumbnail": {
      "main": [
        [
          {
            "node": "Save Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarise & Analyse": {
      "main": [
        [
          {
            "node": "Save Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Data": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Produce Ideas": {
      "main": [
        [
          {
            "node": "Save Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3c074a4f-779c-4635-b04f-4b53844e5f24",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8851b581f5a37c43bd4b0b1c92afb555e4fe7a433cab4a073d9452f7bd5ff23b"
  },
  "id": "6FfoWXYOkzXEHuEr",
  "tags": []
}